.background {
  --mouse-x: 0px;
  --mouse-y: 0px;
}

.background > * {
  position: relative;
}

.background > *::before {
  pointer-events: none;
  content: "";
  position: absolute;
  inset: 0;
  padding: 2px;
  border-radius: 8px;
  background: radial-gradient(circle 180px at var(--mouse-x) var(--mouse-y),
  black 0%, whitesmoke 100%);
  mask: 
    conic-gradient(#000 0 0) content-box, 
    conic-gradient(#000 0 0);
  mask-composite: exclude;
}
