.card-detail {
    font-size: 14px;
    display: flex;
    gap: 20px;
}

.card-image {
    background-color: lightgrey;
    width: 186px;
    height: 248px;
    border: 2px dashed #000;
}

.card-header {
    display: flex;
    gap: 16px;
}

.card-work-data {
    display: flex;
    justify-content: space-between;
}

.card-data {
    width: 100%;
}
