.card-detail {
    display: flex;
    gap: 16px;
    font-size: 16pt;
}

.card-image {
    background-color: gray;
    width: 250px;
    height: 290px;
}

.card-header {
    font-size: 32pt;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.card-data {
    width: 100%;
}